# IDE
.idea

# OS
.DS_Store

# R
.Rhistory

# VSCode project settings
.vscode

# python virtual environments
venv/
.flake8
**__pycache__/

# Metals server logs and other files (for Scala)
.metals

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
