/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/**
 * cancel the extra margin added by
 * plugin: vuepress-plugin-code-copy
 * also make sure no scroll bar shows up
 */
.code-copy
  margin-top: -0.85rem;
  margin-bottom: -0.85rem;

/**
 * custom code block labels
 */
div[class~="language-wdl"]:before
  content "WDL"

/**
 * custom code block labels
 */
div[class~="language-r"]:before
  content "R"

/**
 * custom code block labels
 */
div[class~="language-cpp"]:before
  content "C++"

/**
 * turn off the nested sidebar's opacity
 * so they are more obvious, also
 * covert the curosr to pointer to make it
 * look normal, fonts are mode more bold too
 */
.sidebar-group.depth-0
  .sidebar-links.sidebar-group-items
    .sidebar-group.collapsable.is-sub-group.depth-1
      p.sidebar-heading
        opacity: 1;
        cursor: pointer;
        font-weight: 550;

// enable text highlights
#inline-blue
  background-color: #2780e3
  color: #fff
  font-size: 95%

#inline-purple
  background-color: #9954bb
  color: #fff
  font-size: 95%

#inline-yellow
  background-color: #f0ad4e
  color: #fff
  font-size: 95%

#inline-green
  background-color: #5cb85c
  color: #fff
  font-size: 95%
